<!DOCTYPE html>
<html lang="fr" data-theme="light">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <div class="container-fluid">
            <div class="logo">
                <img src="../../images/Todo.png" alt="Logo image" />
            </div>
            <hr />
            <div class="container">
                <form action="/tasks/create" method="POST">
                    <div class="grid">
                        <label for="firstname">
                            <input
                                type="text"
                                id="title"
                                name="title"
                                placeholder="Title of the task"
                                required
                            />
                        </label>
                        <select id="status" name="status" required>
                            <option value="" selected>Select status</option>
                            <option value="Faible">Low</option>
                            <option value="Normal">Normal</option>
                            <option value="Urgent">Urgent</option>
                        </select>
                    </div>
                    <label for="description">Description of the task</label>
                    <input
                        type="text"
                        id="description"
                        name="description"
                        placeholder="Write a task"
                        required
                    />
                    <button type="submit" class="contrast">Submit</button>
                </form>
            </div>
            <hr />
            <table>
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <%if(tasks.length){%> <% tasks.forEach(function(task){ %>
                    <tr>
                        <td>
                            <a class="btn" href="/tasks/<%= task.id %>">
                                <%= task.title %>
                            </a>
                        </td>
                        <td><%= task.description %></td>
                        <td>
                            <p class="<%= task.status %>"><%= task.status %></p>
                        </td>
                        <td class="actions">
                            <a class="btn" href="/tasks/delete/<%= task.id %>">
                                <img
                                    src="https://api.iconify.design/ic:baseline-delete-forever.svg"
                                    alt="Delete"
                                />
                            </a>
                            <a class="btn" href="/tasks/update/<%= task.id %>">
                                <img
                                    src="https://api.iconify.design/material-symbols:edit.svg"
                                    alt="Edit"
                                />
                            </a>
                        </td>
                    </tr>
                    <% }) %> <% }else{ %>
                    <tr>
                        <td colspan="3">No tasks</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <footer><%- include('../partials/footer'); %></footer>
        </div>
    </body>
</html>
